{% extends "base.html" %}                                                      
{% load staticfiles %}
{% block title %}Розклад - Вибір семестру для планування{% endblock %} 
{% block headadd %}
<link rel="stylesheet" type="text/css" href="{% static "autocomplete.css" %}" />
<script type="text/javascript">
    function recomputeLink() {
        var accumulator = "/";
        $(".group-btn.primary").each(
        function(i, btn){
            if($(btn).attr("value") != ""){
                accumulator += $(btn).attr("value") + '/';
            }
        });
        $("#planning-link").attr("href", "/planning" + accumulator);
        $("#planning-light-link").attr("href", "/planning-light" + accumulator);
    }
    $(function() {
        var btnClickHandler = function(event){
            event.preventDefault();
            $(this).parent("div").children(".btn").removeClass("primary").removeClass("active");
            $(this).addClass("primary").addClass("active");
            recomputeLink();
        }
        $(".group-btn").click(btnClickHandler);
        recomputeLink();
    });
</script>
{% endblock %}
{% block header %}Вибір семестру для планування{% endblock %}
{% block content %}

<div class="row add-margins">
    <div class="span13">
        <ul>
            {% for term in terms %}
                <li>
                {{ term }} - 
                <a href="/planning-light/{{ term.id }}/">Загальний план</a> - 
                <a href="/planning-light/{{ term.id }}/add/">Додавання пар</a> - 
                <a href="/planning-light/{{ term.id }}/delete/">Видалення пар</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
