{% extends "base.html" %}
{% block title %}Розклад - Допомога{% endblock %}
{% block header %}Допомога{% endblock %}
{% block content %}
    <p>
    Якщо ви хочете одержати допомогу від розробників, 
    будь ласка, <a href="mailto:web-dev@mail.usic.ukma.kiev.ua">напишіть листа</a> чи <a href="/feedback/">залиште відгук</a>.
    </p>
    <p>
    Якщо ви бажаєте надати допомогу проектові чи розробникам, або ж у вас є інша конструктивна пропозиція, 
    надішліть нам листа на <a href="mailto:web-dev@mail.usic.ukma.kiev.ua">пошту</a>.
    </p>
{% endblock %}
