{% extends "base.html" %}
{% comment %}
vim: ai ts=4 sts=4 et sw=4
{% endcomment %}
{% block title %}Розклад викладачів{% endblock %}
{% block header %}Розклад викладачів{% endblock %}
{% block content %}
    {% for department, lecturers_list in department_lecturer_mapping.items %}
        <h4>{{ department }}</h4>
        <ul>
            {% for lecturer in lecturers_list %}
                <li>
                <a href="/lecturer-timetable/{{lecturer.lecturer_id}}/">
                    {{ lecturer }}
                </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
