{% extends "base.html" %}
{% block title %}Розклад - {{ lesson.discipline.name }}{% endblock %}
{% block header %}{{ lesson.discipline.name }}{% endblock %}
{% block content %}
    <span class="subject">
        <a href="/lesson/{{ lesson.pk }}/">{{ lesson.discipline.name }}</a>
    </span>
    <br>
    <span class="details">
        <strong><a href="/room/{{ lesson.location.pk }}">{{ lesson.location }}</a></strong>, 
        <em><a href="/lecturer/{{ lesson.lecturer.pk }}">{{ lesson.lecturer.short_name }}</a></em>
        {% if lesson.academic_group == 0 %}
            <span class="label">лекція</span>
        {% else %}
            <span class="label">практика-{{ lesson.academic_group }}</span>
        {% endif %}
    </span>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Зберегти" />
    </form>
{% endblock %}
