{% load staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
<meta charset="utf-8">
<title>{% block title %}{{ academic_term }}{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static "favicon.ico" %}">
<link href="{% static "bootstrap.css" %}" rel="stylesheet">
<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
    <style type="text/css">
        table.compact td {
            padding: 0 1px 0 1px;
        }
        .column {
            height: 23px;
            min-width: {{ column_width }}px;
        }
        .column-padding {
        }
        .day-column {
            min-width: 25px;
        }
        .time-column {
            min-width: 45px;
            height: 23px;
        }
        .lesson {
            color: #fff;
            font-weight: bold;
            text-align: center;
            cursor: default;
            width: {{ column_width }}px;
        }
        .free {
            color: #fff;
            font-weight: bold;
            text-align: center;
            cursor: default;
            width: {{ column_width }}px;
        }
        .lecturer-busy {
            color: #000;
        }
        .week-title {
            font-weight: bold;
            text-align: center;
        }
        .room-header {
            text-align: center;
            font-weight: bold;
        }
        .meta-row {
            display: none;
        }
        #cells {
            overflow-x: auto;
            overflow-y: auto;
            display: inline-block;
        }
        #cells-header {
            overflow-x: hidden;
            display: inline-block;
        }
        #cells-corner {
            display: inline-block;
            width: 72px;
        }
        #cells-time {
            display: inline-block;
            width: 72px;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .non-fancy {
            border-collapse: collapse;
            border-radius: 0;
            border: 0;
            margin-bottom: 0;
        }
        .unloaded {
            background: #ddd;
        }
        .selected.free {
            background-image: url('{% static "stripe_bg.png" %}');
        }
        .selected.lesson {
            background-image: url('{% static "stripe_bg_dark.png" %}');
        }
        .course {
            width: 400px;
        }
        html, body {
            overflow: hidden;
        }
        #top-menu {
            height: 30px;
            padding: 4px;
        }
    </style>
    <script type="text/javascript" src="{% static "bootstrap-twipsy.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-popover.js" %}"></script>
    <script type="text/javascript">
        // https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });

        $(function(){
            var resize = function() {
                var width = $(window).width() - 78 + "px";
                var height = $(window).height() - $("#top-meta-row").height() - 8 - $("#top-menu").height() + "px";
                $("#cells").height(height);
                $("#cells").width(width);
                $("#cells-header").width(width);
                $("#cells-time").height(height);
            }
            $(window).resize(resize);
            resize();
            $("#cells").scroll(function(){
                $("#cells-time").scrollTop($("#cells").scrollTop());
                $("#cells-header").scrollLeft($("#cells").scrollLeft());
            });
            $("#loading").hide();
            $(".meta-row").show();
            function ajax_room_load(term, room_pk, window_number) {
                $('.loaded.window-'+window_number).addClass('unloaded');
                $('.loaded.window-'+window_number).removeClass('loaded');
                $.ajax({
                    "type": "GET",
                    "url": "/planning-light/"+term+"/room/"+room_pk+"/{% block js_room_type %}add{% endblock %}/ajax/"
                }).done(function(json){
                    //console.log(json);
                    for (k in json){
                        //console.log(k);
                        var td = $('#window-'+window_number+'-'+k);
                        td.removeClass("lesson");
                        td.removeClass("free");
                        td.addClass(json[k]['css_class']);
                        // lightweight native tooltip with content in title attr
                        td.attr('title', json[k]['content']);
                        //td.data('content', json[k]['content']);
                        td.css('background-color', json[k]['background_color']);
                        if (json[k]['html']) {
                            td.html(json[k]['html']);
                        }
                        else {
                            td.html("");
                        }
                        if (td.hasClass("lecturer-busy")) {
                            td.children("input").attr("disabled", true);
                        }
                        //$('#'+k).html(json[k]);
                        //$('#'+k+' > .lesson').popover({"animate": false});
                    }
                    $('.unloaded.window-'+window_number).addClass('loaded');
                    $('.unloaded.window-'+window_number).removeClass('unloaded');
                    if ($('.unloaded').length == 0) {
                    }
                });
            }
            {% for room_number, room in rooms %}
                ajax_room_load({{ term }}, {{ room.pk }}, {{ room_number }});
            {% endfor %}
            $("select.room").change(function() {
                var select = $(this);
                ajax_room_load({{ term }}, select.val(), select.data("window"));
            });
            {% block js %}
            $("select.course").change(function() {
                var option = $(this).children(":selected");
                $("select.group").children().remove();
                $.each(option.data("groups"), function(index, value) {
                    var text = value[0];
                    if (text == 0) {
                        text = "л"
                    }
                    $("select.group")
                    .append($("<option></option")
                    .attr("value", value[1])
                    .text(text));
                });
                $("select.group").change();
            });
            $("select.course").change();
            $("select.group").change(function() {
                var option = $(this).children(":selected");
                $.ajax({
                    "type": "GET",
                    "url": "/planning-light/"+{{ term }}+"/lecturer/"+option.val()+"/ajax/"
                }).done(function(json){
                    $("#lesson-count").html(json["lesson_count"]);
                    $("#lecturer-name").html(json["lecturer"]);
                    for (k in json["cells"]){
                        {% for room_number, room in rooms %}
                            var td = $('#window-'+{{ room_number }}+'-'+k);
                            td.children("input").removeAttr("disabled");
                            if (json["cells"][k]["css_class"] == "lecturer-busy") {
                                td.children("input").attr("disabled", true);
                                td.children("input").prop("checked", false);
                            }
                            td.removeClass("lecturer-busy");
                            td.removeClass("lecturer-free");
                            td.addClass(json["cells"][k]['css_class']);
                        {% endfor %}
                    }
                });
            });
            $("select.group").change();
            $("#add-button").click(function(){
                //console.log("adding");
                var data = {};
                var cells = [];
                var checkboxes = $("input:checked");
                $.each(checkboxes, function(index, element){
                    console.log($(element).parent().attr("id"));
                    cells.push($(element).parent().attr("id"));
                });
                //console.log(cells);
                data["cells"] = cells;
                data["group"] = $("select.group").val();
                $.each($("select.room"), function(index, element){
                    data["window-" + $(element).data("window")] = $(element).val();
                });
                //console.log(data);
                $.ajax({
                    url: "/planning/{{ academic_term.pk }}/add/lessons/",
                    type: "POST",
                    success: function(){
                        //console.log("ajax ok");
                        $("select.room").change();
                        $("select.group").change();
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        //console.log(xhr, ajaxOptions, thrownError);
                        //console.log(xhr.responseText["error"]);
                    },
                    data: data
                });

            });
            {% endblock %}
        });
    </script>
</head>
<body>
{% block content %}
    <h3 id="loading">Завантаження…</h3>
    <div class="meta-row" id="top-menu">
        {% block top_menu %}
            <select class="course">
                {% for course, groups in all_courses %}
                    <option value="{{ course.pk }}" data-groups="{{ groups }}">{{ course.full_description }}</option>
                {% endfor %}
            </select>
            <select class="group mini">
            </select>
            <span style="min-width:260px; display: inline-block;">Кількість пар <span id="lesson-count">?</span> (<span id="lecturer-name"></span>)</span>
            <button id="add-button" class="btn success mode-button">Додати</button>
        {% endblock %}
    </div>
    <div class="meta-row" id="top-meta-row">
        <div id="cells-corner">
            <table class="bordered-table zebra-striped compact non-fancy">
                <thead>
                    <tr>
                        <td class="day-column">
                            <!--insert an invisible select to set the height-->
                            <select class="dummy" style="width:10px;visibility:hidden;"><option>&nbsp;</option></select>
                        </td>
                        <td class="time-column">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="day-column">&nbsp;</td>
                        <td class="time-column">Тижд</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="cells-header">
            <table class="bordered-table zebra-striped compact non-fancy" style="width: auto">
                <thead>
                    <tr>
                        {% for room_number, room in rooms %}
                            <td class="room-header window-{{ room_number }}" colspan={{ number_of_weeks }}>
                                <select class="room" data-window="{{ room_number }}">
                                    {% for room_option in all_rooms %}
                                        <option value="{{ room_option.pk }}"{% if room == room_option %}selected="selected"{% endif %}>{{ room_option }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="column-padding">&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for room_number, room in rooms %}
                            {% for week_number in columns %}
                                <td class="column week-title unloaded window-{{ room_number }}">{{ week_number }}</td>
                            {% endfor %}
                            <td class="column-padding">&nbsp;</td>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="meta-row">
        <div id="cells-time">
            <table class="bordered-table zebra-striped compact non-fancy">
                <tbody>
                    {% for cell in time_rows %}
                        <tr>
                            {% if cell.0 %}
                                <td class="day-column" rowspan="{{ number_of_lessons_per_day }}">{{ cell.0 }}</td>
                                <td class="time-column">{{ cell.1 }}</td>
                            {% else %}
                                <td class="time-column">{{ cell.1 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            &nbsp;
        </div>
        <div id="cells">
            <table class="bordered-table zebra-striped compact non-fancy" style="width: auto">
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for room_number, room in rooms %}
                                {% for cell in row %}
                                    <td class="column window-{{ room_number }} cell" id="window-{{ room_number }}-cell-{{ cell }}">
                                        &nbsp;
                                    </td>
                                {% endfor %}
                                <td class="column-padding">&nbsp;</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</body>
