{% extends "base.html" %}
{% comment %}
vim: ai ts=4 sts=4 et sw=4
{% endcomment %}
{% block title %}Розклад - Використання аудиторій {{ status_date|date:"j E Y" }}{% endblock %}
{% block headadd %}
    <style type="text/css">
        table td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block header %}Використання аудиторій {{ status_date|date:"j E Y" }}{% endblock %}
{% block content %}
    {% for building, table in building_tables %}
        <h3>Корпус {{ building.number }}</h3>
        <table class="bordered-table zebra-striped">
            {% for row in table %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for element in row %}
                                <td>{{ element }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% else %}
                        <tr>
                            {% for element in row %}
                                <td>
                                    {% if forloop.first %}
                                        {{ element|date:"H:i" }}
                                    {% else %}
                                        {% if element %}
                                            <abbr title="{{ element.discipline.name }}">
                                                {{ element.discipline.abbr }}
						{% if element.academic_group > 0 %}
                                                    {{ element.academic_group }}
                                                {% endif %}
                                            </abbr>
                                        {% endif %}
                                    {% endif %}
                                    <!--<abbr title="{{ element.0 }}-{{ element.1 }}">{{ element.2 }}</abbr>-->
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <h3>{{ status_date|date:"j E" }} пар немає</h3>
    {% endfor %}
{% endblock %}
