{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Розклад - Online-версія{% endblock %}
{% block headadd %}
    <style type="text/css">
        .current-week {
            background-color: #3333ff;
        }
        .promo {
            float: right;
            padding-left: 2px;
        }
        .comments {
            float: right;
            cursor: pointer;
        }
        .icon-comments-alt, .icon-comment-alt {
            font-size: 16px;
        }
        .comment-date {
            font-size: 9px;
        }
        .comment-ip {
            font-size: 9px;
        }
        .comment-info {
            width: 90px;
        }
        #new-post-text {
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="{% static "js/bootstrap-modal.js" %}"></script>
    <script type="text/javascript" src="{% static "crsf.js" %}"></script>
    <script type="text/javascript">
        function loadCommentsForLessonId(lessonId, showModal) {
            $.get('/comments/lesson/get/'+lessonId+'/', function(data) {
                $('#comments-modal').html(data);
                if (showModal) {
                    $("#comments-modal").modal({
                        "show": true,
                        "backdrop": true,
                        "keyboard": true
                    });
                }
                $("#comment-post").click(function() {
                    $.ajax({
                        data: $("#comment-form").serialize(),
                        type: "POST",
                        url: '/comments/lesson/post/'+lessonId+'/',
                        success: function(response) {
                            $("#modal-footer-notification").html('<div class="alert-message success">Повідомлення надіслано</div>');
                            loadCommentsForLessonId(lessonId, false);
                        },
                        error: function(xhr, ajaxOptions, thrownError){
                            $("#modal-footer-notification").html('<div class="alert-message error">'+xhr.responseText+'</div>');
                        }
                    });
                    return false;
                });
            });
        }
        $(function(){
            var today = new Date();
            if (today.getDay() == 0) {
                // if current day is Sunday, add 1 day to get the following Monday
                today.setTime(today.getTime() + 86400000);
            }
            var today_element_id = "#date-" + today.getFullYear().toString() + "-" + (today.getMonth()+1).toString() + "-" + today.getDate().toString();
            //$('html, body').animate({scrollTop: $(today_element_id).offset().top - 80}, 2000);
            $(today_element_id).closest('tr').children('td').css('background-color', '#d5d5d5');
            $(".comments").click(function() {
                var lessonId = $(this).data("lesson");
                loadCommentsForLessonId(lessonId, true);
                //$(".modal-body").html($(this).data("lesson"));
            });
        });
    </script>
{% endblock %}
{% block header %}Персональний розклад{% endblock %}
{% block content %}
    {% csrf_token %}
    {% if clashing_lessons %}
        <div class="alert-message block-message error">
            <h3>У розкладі виявлено такі накладки:</h3>
            <ul>
                {% for lesson1, lesson2 in clashing_lessons %}
                    <li>
                    {{ lesson1.date|date:"j E Y" }} - {{ lesson_times|lookup:lesson1.lesson_number|first }} - 
                    {{ lesson1.group.course.discipline.name }}
                    {% if lesson1.group.number != 0 %}
                        - {{ lesson1.group.number }}
                    {% endif %}
                    vs
                    {{ lesson2.group.course.discipline.name }}
                    {% if lesson2.group.number != 0 %}
                        - {{ lesson2.group.number }}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <strong>Відображено лише першу пару з конфліктних</strong>
        </div>
    {% endif %}
    {% if week_links %}
        {% for week_number, week_link in week_links %}
            {% if week_number == current_week %}
                {{ week_number }}
            {% else %}
                <a href={{ week_link }}>{{ week_number }}</a>
            {% endif %}
        {% endfor %}
        <hr>
    {% endif %}
    {% if group_links %}
        {% for group_name, group_link in group_links %}
            {% if group_name == current_group %}
                {{ group_name }}<br />
            {% else %}
                <a href={{ group_link }}>{{ group_name }}</a><br />
            {% endif %}
        {% endfor %}
        <hr>
    {% endif %}
    <table class="bordered-table zebra-striped">
        <tbody>
            {% for week_number, rows in week_mapping.items %}
                <tr>
                    <td colspan="4">
                        <h2>Тиждень {{ week_number }}</h2>
                    </td>
                </tr>
                {% for row, weekdays in rows.items %}
                    <tr>
                        <td class="lesson-time">&nbsp;</td>
                        {% for weekday, lessons in weekdays.items %}
                            {% with lesson_date=week_date_mapping|lookup:week_number|lookup:weekday %}
                                <td class="lesson">
                                    {% for promo_img, promo_url in promos|lookup:lesson_date %}
                                        {% if promo_url %}
                                            <a href="{{ promo_url }}">
                                                <img src="{% static promo_img %}" class="promo">
                                            </a>
                                        {% else %}
                                            <img src="{% static promo_img %}" class="promo">
                                        {% endif %}
                                    {% endfor %}
                                    <h3>{{ lesson_date|date:"l" }}</h3>
                                    <strong class="date" id="date-{{ lesson_date|date:"Y-n-j" }}">
                                        {{ lesson_date|date:"j E Y" }}
                                    </strong>
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    {% for lesson_number in lesson_numbers %}
                        <tr>
                            <td>
                                <h4>
                                    {{ lesson_times|lookup:lesson_number|first }}
                                </h4>
                            </td>

                            {% for weekday, lessons in weekdays.items %}
                                {% with lesson=lessons|lookup:lesson_number %}
                                <td>
                                    {% if lesson %}
                                        <span class="subject">
                                            {% if user.is_staff %}
                                                <a href="/lesson/{{ lesson.pk }}/">{{ lesson.group.course.discipline.name }}</a>
                                            {% else %}
                                                {{ lesson.group.course.discipline.name }}
                                            {% endif %}
                                        </span>
                                        <br>
                                        <span class="details">
                                            <strong>{% if lesson.room %}{{ lesson.room }}{% else %}?{% endif %}</strong>,
                                            <em>{{ lesson.group.lecturer.short_name }}</em>
                                            <span class="label" style="background-color:{{ course_colors|lookup:lesson.group.course_id}}">
                                                {% if lesson.group.number == 0 %}
                                                    лекція
                                                {% else %}
                                                    практика-{{ lesson.group.number }}
                                                {% endif %}
                                            </span>
                                            <a class="comments" data-lesson="{{ lesson.pk }}">
                                                {% with comment_count=comment_counts|lookup:lesson.pk %}
                                                    {% if comment_count == 0 %}
                                                        <i class="icon-comment-alt"></i>
                                                    {% else %}
                                                        {{ comment_count }} <i class="icon-comments-alt"></i>
                                                    {% endif %}
                                                {% endwith %}
                                            </a>
                                        </span>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
    </table>
    <div id="comments-modal" class="modal hide fade">
    </div>
{% endblock %}

