{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Розклад - Контакти{% endblock %}
{% block headadd %}
    <link rel="stylesheet" type="text/css" href="{% static "contacts.css" %}" />
{% endblock %}
{% block header %}Контакти{% endblock %}
{% block content %}
    <div id="Container">

        <center>
            <div id="Contacts">

                <div class="developer">

                    <ul id="first">
                        <li></li>
                        <li class="name">Михайло Трояновський</li>
                        <li>головний розробник</li>
                        <li>серверна частина</li>
                        <li>проектування</li>
                        <li>ФІН, 2011 магістр</li>

                    </ul>
                </div>

                <div class="developer">
                    <ul id="second">
                        <li></li>
                        <li class="name">Сергій Кібрік</li>
                        <li>проектування</li>
                        <li>ФІН, 2011 спеціаліст</li>
                    </ul>

                </div>

                <div class="developer">
                    <ul id="third">
                        <li></li>
                        <li class="name">Іван Криворучко</li>
                        <li>розробка парсерів</li>
                        <li>серверна частина</li>
                        <li>ФІН, прогр. інженер 4</li>

                    </ul>
                </div>

                <div class="developer">
                    <ul id="fouth">
                        <li></li>
                        <li class="name">Дмитро Дзюбенко</li>
                        <li>ініціатор</li>
                        <li>клієнтська частина</li>
                        <li>проектування</li>

                        <li>ФПрН, фізик 3</li>
                    </ul>
                </div>

                <div class="developer">
                    <ul id="fifth">
                        <li></li>
                        <li class="name">Вадим Пшебильський</li>
                        <li>дизайнер</li>
                        <li>верстальник</li>

                        <li>ФПрН, фізик 3</li>
                    </ul>
                </div>

            </div>

            <div id="line"></div>

            <p id="dev_mail">Пошта для побажань та пропозицій: <a href="mailto:web-dev@mail.usic.ukma.kiev.ua">web-dev@mail.usic.ukma.kiev.ua</a></p>
        </center>
        <div id="usic_logo"></div>

    </div>

{% endblock %}
