{% extends "base.html" %}
{% block title %}Розклад - Контакти{% endblock %}
{% block header %}Контакти{% endblock %}
{% block content %}
    <p>
    Розробка проекту проходить у рамках <a href="http://usic.org.ua/">USIC</a> <a href="http://wiki.usic.org.ua/wiki/Summer_of_code_2011">SoC</a>
    </p>
    <p>
    Питання, побажання та пропозиції направляти на web-dev цуцик mail.usic.ukma.kiev.ua
    </p>
    <p>
    Також можна звертатись до <a href="https://www.facebook.com/myhaylo">Михайла</a>
    </p>
{% endblock %}
