{% extends "base.html" %}
{% block title %}Персональний онлайн-розклад{% endblock %}
{% block header %}Вибір спеціальності та року навчання{% endblock %}
{% block content %}
    <h4><a href="/feedback/"><u>Залиште відгук про наш ресурс</u></a><h4>
    {% for academic_term, timetables in academic_term_timetable_list %}
        <h4>{{ academic_term }}</h4>
        <ul>
            {% for timetable in timetables %}
                <li>
                <a href="/choose-subjects/{{ timetable.id }}/">
                    {{ timetable.major.name }} - {{ timetable.major.kind }} - {{ timetable.year }}
                </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
