{% extends "base.html" %}
{% block title %}Розклад - {{ lesson.group.course.discipline.name }}{% endblock %}
{% block header %}{{ lesson.group.course.discipline.name }}{% endblock %}
{% block content %}
    <span class="subject">
        <a href="/lesson/{{ lesson.pk }}/">{{ lesson.group.course.discipline.name }}</a>
    </span>
    <br>
    <span class="details">
        <strong><a href="/room/{{ lesson.room.pk }}">{{ lesson.room }}</a></strong>, 
        <em><a href="/lecturer/{{ lesson.group.lecturer.pk }}">{{ lesson.group.lecturer.short_name }}</a></em>
        {% if lesson.group.number == 0 %}
            <span class="label">лекція</span>
        {% else %}
            <span class="label">практика-{{ lesson.group.number }}</span>
        {% endif %}
    </span>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Зберегти" />
    </form>
{% endblock %}
