{% extends "base.html" %}
{% block title %}Розклад - Online-версія{% endblock %}

{% block content %}

{% for week_number, rows in week_mapping.items %}

{% for row, weekdays in rows.items %}
<div class="row">
    <div class="span1">&nbsp;</div>
    {% for weekday, lessons in weekdays.items %}
    <div class="span5">
        {{ week_date_mapping|lookup:week_number|lookup:weekday|date:"l" }},
        <strong class="date">{{ week_date_mapping|lookup:week_number|lookup:weekday|date:"j E Y" }}</strong>
    </div>
    {% endfor %}
</div>
{% for lesson_number in lesson_numbers %}
<div class="row lesson-row">
    <div class="span1">{{ lesson_times|lookup:lesson_number|first }}</div>

    {% for weekday, lessons in weekdays.items %}
    <div class="span5">{% with lesson=lessons|lookup:lesson_number %}
        {% if lesson %}
        <span class="subject">{{ lesson.group.course.discipline.name }}</span><br>
        <span class="details"><strong>{{ lesson.room }}</strong>, <em>{{ lesson.group.lecturer.short_name }}</em>
            {% if lesson.group.number == 0 %}
            <span class="label success">лекція</span>
            {% else %}
            <span class="label warning">практичне-{{ lesson.group.number }}</span>
            {% endif %}
        </span>
        {% endif %}
        {% endwith %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}

